body
{
	margin:0;
	padding:0;
	margin:auto;
	text-align:center;
	background-color:#000;
}

#divTextoEntrada
{
	position:absolute;
	z-index:900;
	width:80%;
	top:20%;
	left:10%;
	color:#fff;
	font-size:1.2em;	
}

#divEntrar
{
	position:absolute;
	z-index:900;
	width:6%;
	top:70%;
	left:46%;
	padding:1% 0%;
	cursor:pointer;
	border-radius:10px;
	background-color:#333;
	color:#eee;
}


#divEntrar:hover
{
	background-color:#66C;
}

.collage
{
	position:absolute;
	opacity:0.7;
}

.collage:hover
{
	cursor:pointer;
	opacity:1;
	filter: contrast(160%);
}

.collageS
{
	position:absolute;
	opacity:1;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.collageS:hover
{
	cursor:pointer;
	opacity:1;
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

#divPopup
{
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	z-index:10;
	background-color:rgb(255, 255, 255, 0.6);
	opacity:1;
	display:none;
	text-align:center;	
}

.x
{
	cursor:pointer!important;
	position:absolute;
	z-index:400;
	right:0px;
	top:0px;
	background-color:#333;
	color:#CCC;
	padding:4px 12px;
	border-radius:2px;	
}

.x:hover
{
	cursor:pointer!important;
	background-color:#CCC;
	color:#333;	
}

.imgPopup
{
	margin:auto;
	max-width:80%;	
}

.imgPopup1
{
	position:absolute;
	right:50%;
	top:5%;
	max-width:45%;
	z-index:20;		
}

.imgPopup2
{
	position:absolute;
	left:50%;
	top:5%;
	max-width:45%;
	z-index:20;		
}

